.btn{
color: white;
border-radius: 2px;
cursor: pointer;
}
.red{
    background-color: red;
}
.green{
    background-color: aquamarine;
    color: black;
}
.bordered{
    border: 1px solid black;
}
.ghost{
    border: none;
}